.navbar-kk{
    background: radial-gradient(farthest-corner at 90% 15%, rgba(20, 132, 182), rgba(13, 94, 166) );;
    padding: 2rem;
    height:8rem !important;
}

.brand-kk{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem !important;
    margin-left: 2rem;
}
.form-kk{
    font-size: 2.2rem;
    padding-top: 2rem;
    background-color: #EDF5F8;
    height: 115vh;
}
.form-kk .input-kk{
    font-size: 2rem !important;
    background-color: #EDF5F8;
    border: 3px solid #69B5D2; 
    border-radius: 7px;
    color : #69B5D2;
    padding: 1.5rem !important;
    margin: 1.5rem auto;
    height: 4.3rem !important;
}

.form-group-kk select{
    font-size: 1.9rem !important;
    background-color: #EDF5F8;
    border: 3px solid #69B5D2; 
    border-radius: 7px;
    color : #69B5D2;
    padding-left: 1.5rem !important;
    margin: 1.5rem auto;
    margin-left: 2.5rem;
    height: 4.3rem !important;
    width: 56.5rem;
}

.form-group-kk select option{
    font-size: 0.9rem;
}

.form-kk .r-input{
    font-size: 2rem !important;
    background-color: #EDF5F8;
    border: 3px solid #69B5D2; 
    border-radius: 7px;
    color : #69B5D2;
    padding: 1.5rem !important;
    margin: 1.5rem auto;
    height: 4.3rem !important;
    width: 56.5rem;
    margin-left: 2.5rem;
}
.form-kk .input-kk::-webkit-input-placeholder{
    font-size: 1.7rem !important;
    color : #69B5D2;
    font-style: italic;
}
.form-kk .input-select option::-webkit-input-placeholder{
    font-size: 1.7rem !important;
    color : #69B5D2;
    font-style: italic;
}
.form-kk .r-input::-webkit-input-placeholder{
    font-size: 1.7rem !important;
    color : #69B5D2;
    font-style: italic;
}
.form-kk label{
    display: block !important;
    text-align: left;
    margin-left: 2.5rem;
    font-size: 1.8rem;
}
.form-kk button{
    background-color: #1BAEC9;
    color: white;
    padding: 1rem !important;
    margin-top: 3.5rem;
    width: 92%;
    border-radius: 10px !important;
    font-size: 1.9rem !important;
    margin-left: 2.3rem;
}
.kk-button-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.kk-button-wrapper .male-button{
    width: 28rem;
    border:none;
    padding:1rem !important;
    margin-left: 2.5rem;
    border-radius: 5px;
}
.kk-button-wrapper .female-button{
    width: 28rem;
    border:none;
    padding:1rem !important;
    margin-left: 0.3rem;
    border-radius: 5px; 
}
.left-icon{
    color:white;
    font-size: 2.5rem;
}

.form-menu-icon{
    color:white;
    font-size: 3rem;
    position: absolute;
    left: 93%;
}

.form-group-kk .valid-feedback{
    margin-left:-23.2rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.form-group-kk .invalid-feedback{
    margin-left:-19rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.male{
    width: 27rem;
    height: 5rem;
    font-size: 1.9rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 10px;
    margin-left: 2.5rem;

}
.female{
    width: 27rem;
    height: 5rem;
    font-size: 1.9rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 10px;
    margin-left: 1rem;
}

.male label, .female label{
    text-align: center;
}
.form-group-kk input[type=checkbox], input[type=radio]{
    appearance: none !important;
}

.form-kk input[type=checkbox], input[type=radio]{
    appearance: none !important;
}